name: Windows

on:
  push:
    branches: [ "master" ]

jobs:
  build-macos:
    name: Windows
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Install msys2 deps
        uses: msys2/setup-msys2@v2
        with:
          msystem: ucrt64
          update: true
          install: >-
            git
            make
            zlib
            mingw-w64-ucrt-x86_64-qt6-base
          pacboy: >-
            toolchain:p
            cmake:p
            ninja:p
      - name: Configure
        run: cmake -G Ninja -B windows -DCMAKE_BUILD_TYPE=Release
      - name: Build
        run: cmake --build windows --parallel
